acme==1.16.0
aioredis==1.3.1
asgiref==3.3.0
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autobahn==20.12.3
Automat==20.2.0
beautifulsoup4==4.9.3
boto3==1.18.36
botocore==1.21.36
bs4==0.0.1
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.4
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.3.1
cssselect2==0.4.1
daphne==3.0.1
decorator==5.0.9
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.1.3
django-autocert==0.1.7
django-cleanup==5.2.0
django-environ==0.4.5
django-filter==2.4.0
django-heroku==0.3.1
django-sslify==0.2.7
django-sslserver==0.22
django-storages==1.11.1
djangorestframework==3.12.4
djangorestframework-api-key==2.1.0
et-xmlfile==1.1.0
forex-python==1.6
get-cert==19.1.3
gunicorn==20.0.4
h11==0.12.0
hiredis==2.0.0
html2image==2.0.1
html5lib==1.1
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
install==1.3.4
isort==5.6.4
jmespath==0.10.0
josepy==1.8.0
jsonpickle==2.0.0
lazy-object-proxy==1.4.3
lxml==4.6.3
mccabe==0.6.1
msgpack==1.0.2
openpyxl==3.0.7
pdfkit==0.6.1
Pillow==8.1.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pycparser==2.20
PyHamcrest==2.0.2
pylint==2.6.0
pyOpenSSL==20.0.1
pypaystack==1.24
pyphen==0.11.0
pyRFC3339==1.1
python-dateutil==2.8.2
pytz==2020.4
requests==2.25.1
requests-toolbelt==0.9.1
s3transfer==0.5.0
selenium==3.141.0
service-identity==18.1.0
simplejson==3.17.5
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
tinycss2==1.1.0
toml==0.10.2
txaio==20.12.1
urllib3==1.26.2
uvicorn==0.13.4
validators==0.18.2
waitress==2.0.0
WeasyPrint==52.5
webencodings==0.5.1
whitenoise==5.2.0
wikipedia==1.4.0
wkhtmltopdf==0.2
wrapt==1.12.1
zope.interface==5.2.0
