<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<p id='status'></p>
<textarea name="" id="chatbox" cols="60" rows="20"></textarea>
<br><br><input type="text" id='message'>
<button type="button" onclick='send_message()'>send</button>


<script>
    var socket =  new WebSocket('ws://'+ window.location.host+'/count/')
    var message = document.getElementById('message')

    function send_message(){
        json_message = JSON.stringify({'message':message.value,'to':'{{to}}'})
        socket.send(json_message)
        message.value = ''
    }

    socket.onmessage = function(event){
        console.log(event.data)
        var from = JSON.parse(event.data).from

        if (from == undefined){
            from = 'Me'
            console.log(JSON.parse(event.data))
        }
        document.getElementById('chatbox').value += from  + ':' + JSON.parse(event.data).message + '\n'
    }
</script>