<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<style>
    .hidden{
        display: none;
    }
</style>

<body>
    <div class="container py-5 mt-5">
        
        <h3 class='font-weight-light px-3'><center>Make sure there is little background noise</center></h3>
    
        <h1 class='display-1 py-3' id='note' style="text-align: center"></h1>
    
        <div class="text-center">
            <small class="text-muted hidden font-weight-bold" id='listening'>listening...</small>

        </div>
        <br><br><center><button onclick='ask()' class='btn btn-lg btn-dark px-4' id='state'>start</button></center>
        <center><button onclick='stop()' class='btn btn-lg btn-dark px-4 hidden' id='stop'>stop</button></center>
    </div>

<hr>   
    
    <script>
        
        parsed_cookies = document.cookie.split(';')
        console.log(document.cookie)
        if (!document.cookie.includes('MACEZ')){
            document.cookie = 'file_name={{unique_key}}'
        }
    
        ws_scheme = window.location.protocol.includes('https') ? 'wss':'ws'
        var socket = new WebSocket(ws_scheme+'://'+window.location.host+'/count/')
    
        socket.onmessage = function(e){
    
            note = JSON.parse(e.data).note
            if (note == ''){
                //
            }
            else{
                document.getElementById('note').innerText = note
            }
    
            recorder.start()
            setTimeout(function(){
                    recorder.stop()
                    recorder.ondataavailable = function(e){
                    console.log(e)
                    console.log(String(URL.createObjectURL(e.data)))
                    console.log(URL.createObjectURL(e.data))
                    socket.send(new Blob([e.data]) )
                }
            
    
            },700)
        }
            
        var constraints = {audio:true};
    
        var recorder = ''
        let Stream = ''

        function ask(){
            if (recorder == ''){
            navigator.mediaDevices.getUserMedia(constraints)
            .then(function(stream){
                recorder = new MediaRecorder(stream);
                Stream = stream
                document.getElementById('state').click()
            })
            .catch(function(err){
                console.log(err);
            });
            
        }
            change_state()
        }


    
        function change_state(){
            
                document.getElementById('listening').classList.remove('hidden')
                document.getElementById('state').classList.add('hidden')
                document.getElementById('stop').classList.remove('hidden')
                recorder.start()
                setTimeout(function(){
                    recorder.stop()
                    recorder.ondataavailable = function(e){
                    console.log(e)
                    console.log(String(URL.createObjectURL(e.data)))
                    console.log(URL.createObjectURL(e.data))
                    socket.send(new Blob([e.data]) )
                }
            
    
            },700)
    
        }

        function stop(){
            document.getElementById('listening').classList.add('hidden')
            document.getElementById('state').classList.remove('hidden')
            document.getElementById('stop').classList.add('hidden')
            Stream.getAudioTracks().forEach(element => {
                element.stop()
            });
            recorder = ''
        }
    </script>
</body>
